.topbanner {
  background-color: purple;
  color:white;
  padding-left: 30px;
  border-radius: 15px;
}
body{
	background-color: grey;
}
h1{
	color: white;
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
	font-weight: 800;
	line-weight:40px;
}

h2 {
	color: #00b2d3;
	font-family: "Helvetica Neue Light", Roboto, Helvetica, Arial, sans-serif;
}
.left{
	background-color: #f8f9fa;
	border-radius: 15px;
	padding-bottom: 30px;
	padding-top: 20px;
	border-right: 2px dashed blue; 
}
.right{
	background-color: #f8f9fa;
	border-radius: 15px;
	padding-bottom: 30px;
	padding-top: 20px;
}
.city {
	font-family: arial; 
	color: black;
	text-align: left;
}
.attraction {
	color: black;
	font-family: arial;
	
}
.onecol{
	background-color: #f8f9fa;
	border-radius: 15px;
	height: 300px
}
.edl{
	margin-left: 10%;
}
.homepage{
	margin-left:10px;
	margin-top: 10px;
	color: white; 
	font-size: 20px;
}
.homeicon{
	margin-top: 10px;
	margin-left: 160px;
}
.login{
	margin-top: 10px;
	margin-left: 50px;
}
.creator{
	font-style: italic;
	color: grey;
}
